@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
	background-color: #f6f7fa;
	font-family: "Rubik", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
a {
	color: #28232d;
	text-decoration: none;
}
ul {
	padding-left: 0;
	list-style-type: none;
	margin-bottom: 0;
}
.app-wrapper {
	display: -webkit-flex;
	display: flex;
	overflow: hidden;
}
.app-wrapper .page-wrapper {
	min-height: 100vh;
	background: #f6f7fa;
	width: calc(100% - 260px);
	margin-left: 260px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-transition: margin .1s ease, width .1s ease;
	transition: margin .1s ease, width .1s ease;
}
.app-wrapper .app-content {
	min-height: 100vh;
	background: #f9fafb;
	width: calc(100% - 260px);
	margin-left: 260px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-transition: margin .1s ease, width .1s ease;
	transition: margin .1s ease, width .1s ease;
}

header.header-main {
	width: calc(100% - 260px);
	height: 65px;
	background: #fff;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding: 0;
	position: fixed;
	right: 0;
	left: 260px;
	z-index: 978;
	-webkit-box-shadow: 0 .1rem 0.5rem 0 rgba(40, 35, 45,.10);
	box-shadow: 0 .1rem 0.5rem 0 rgba(40, 35, 45,.10);
	transition: width .1s ease, left .1s ease;
}
header.header-main .container-fluid {
	padding: 0.7rem 2.5rem;
}
header.header-main .container-fluid .header-left .header-toggle {
	font-size: 21px;
	cursor: pointer;
	background-color: rgb(15 98 109 / 20%);
	color: rgba(15, 98, 106, 1);
	border-radius: 50%;
	padding: 0.5rem;
	height: 45px;
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
}
header.header-main .container-fluid .header-left .header-searchbar .form-control {
	padding: 0.625rem 0.75rem;
	padding-left: 2.1rem;
	font-size: 1rem;
	border: none;
	-webkit-backdrop-filter: blur(400px);
	backdrop-filter: blur(400px);
	text-overflow: ellipsis;
	transition: all 0.3s ease;
}
header.header-main .container-fluid .header-left .header-searchbar i {
	top: 12px;
	color: #28232d !important;
	position: absolute;
	left: 10px;
	font-size: 18px;
}
header.header-main .container-fluid .header-left .header-searchbar .form-control:focus {
	box-shadow: none;
	padding-left: 2.4rem;
}
.form-control:focus {
	transition: all 0.3s ease;
}
.ti {
	letter-spacing: -0.43em;
}
.app-wrapper .app-content .page-content {
	flex-grow: 1;
	padding: 5px;
	margin-top: 70px;
}
.vertical-sidebar {
	position: fixed;
	transition: all 0.3s ease;
	background-color: #fff;
	box-shadow: 0 .1rem 0.5rem 0 rgba(40, 35, 45,.10);
	z-index: 1003;
	width: 260px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transition: width 0.3s cubic-bezier(0, 0, 0.2, 1);
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
nav .app-logo .logo {
	padding: 10px;
	width: 100%;
}
nav .app-logo .logo img {
	width: 180px;
	float: left;
	height: 50px;
}
nav .app-logo .nav-profile {
	border-top: 1px solid #0f626a33;
	border-bottom: 1px solid #0f626a33;
}
.d-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-danger {
	background-color: #e14e5a !important;
	color: #fff;
}
.w-45 {
	width: 45px !important;
}
.h-45 {
	height: 45px !important;
}
.b-r-10 {
	border-radius: 10px !important;
}
.text-primary {
	color: #0f626a !important;
}
.f-s-12 {
	font-size: 12px !important;
}
nav .app-logo .profile-menu-dropdown .dropdown-menu {
	width: 215px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	transform: translate(32px, -70px) !important;
}
nav .app-logo .profile-menu-dropdown .dropdown-menu:before {
	content: "";
	width: 15px;
	height: 15px;
	background: #fff;
	border-left: 1px solid #62626266;
	border-bottom: 1px solid #62626266;
	position: absolute;
	top: 73px;
	left: -8px;
	transform: rotate(45deg);
}
.f-w-500 {
	font-weight: 500 !important;
}
.app-divider-v {
	position: relative;
	white-space: nowrap;
	background-color: transparent;
	color: #082f32;
	padding: 1.5rem 0;
	display: flex;
}
.app-divider-v.dotted:before {
	border-top-style: dotted;
}
.app-divider-v:before {
	border-top: 1px solid #6262624d;
	content: "";
	display: block;
	width: 100%;
	position: absolute;
	top: calc(50% - 0.5px);
}
.text-danger {
	color: #e14e5a !important;
}
/* SIDEBAR CODE */
nav .app-nav .main-nav > li {
	padding: 0 0.75rem;
}
nav .app-nav .main-nav > li.no-sub a::after {
	display: none;
}
nav .app-nav .main-nav > li:not(.menu-title) {
	position: relative;
	transition: all 0.3s ease;
}
nav .app-nav .main-nav > li:not(.menu-title) > a {
	padding: 0.6rem 1rem;
	font-weight: 500;
	color: #28232d;
	width: 100%;
	display: inline-flex;
	font-size: 16px;
	align-items: center;
	text-transform: capitalize;
	border-radius: 0.6rem;
}
nav .app-nav .main-nav > li:not(.menu-title) > a[aria-expanded=true] {
	color: #fff;
	background: #0f626a;
	margin-bottom: 0.5rem;
	font-size: 1.125rem;
}
nav .app-nav .main-nav > li:not(.menu-title) > a[aria-expanded=true] + ul {
	border-radius: 0.6rem;
}
nav .app-nav .main-nav > li:not(.menu-title) > a[aria-expanded=true] .badge {
	position: absolute;
	right: 0;
	top: -10px;
	font-size: 11px;
}
nav .app-nav .main-nav > li:not(.menu-title) > a[aria-expanded=true] .badge:not(.badge-dashboard) {
	border-radius: 50%;
}
nav .app-nav .main-nav > li:not(.menu-title) > a[aria-expanded=true] i {
	color: #fff;
}
	nav .app-nav .main-nav > li:not(.menu-title) > a[aria-expanded=false]::after {
		content: "\f107";
		transition: all 0.3s ease;
	}
nav .app-nav .main-nav > li:not(.menu-title) > a i {
	width: 1.375rem;
	height: 1.375rem;
	font-size: 1.2rem;
	margin-right: 0.3rem;
	margin-top: -1px;
}
	nav .app-nav .main-nav > li:not(.menu-title) > a::after {
		content: "\f106";
		transition: all 0.3s ease;
		background-image: none;
		font-family: "Font Awesome 5 Free" !important;
		font-weight: 900;
		right: 1.5rem;
		position: absolute;
		font-size: 0.7rem;
		top: 14px;
	}
nav .app-nav .main-nav > li:not(.menu-title) ul {
	margin: 0 1rem;
	list-style-position: inside;
}
nav .app-nav .main-nav > li:not(.menu-title) ul li {
	padding: 0.3rem 1.5rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 2;
	position: relative;
	width: 100%;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
nav .app-nav .main-nav > li:not(.menu-title) ul li.active {
	color: rgba(var(--primary), 1);
	font-weight: 500;
	transition: all 0.3s ease;
}
nav .app-nav .main-nav > li:not(.menu-title) ul li.active a {
	color: rgba(var(--primary), 1);
}
nav .app-nav .main-nav > li:not(.menu-title) ul li.active a::before {
	background-color: rgba(var(--primary), 1);
}
nav .app-nav .main-nav > li:not(.menu-title) ul li:last-child a::after {
	border-left: 0;
}
	nav .app-nav .main-nav > li:not(.menu-title) ul li a::before {
		content: "";
		width: 4px;
		height: 28px;
		position: absolute;
		top: 6px;
		left: 6px;
		font-size: 20px;
		background-color: transparent;
		border-radius: 0.6rem;
	}
nav .app-nav .main-nav > li:not(.menu-title) ul li.another-level:last-child {
	padding-bottom: 0;
}
nav .app-nav .main-nav > li:not(.menu-title) ul li.another-level > a {
	display: block;
}
nav .app-nav .main-nav > li:not(.menu-title) ul li.another-level > a::after {
	content: "\f107";
	transition: all 0.3s ease;
	font-family: "Font Awesome 5 Free" !important;
	font-weight: 900;
	position: absolute;
	right: 1rem;
}
nav .app-nav .main-nav > li:not(.menu-title) ul li.another-level > a[aria-expanded=false]::after {
	content: "\f106";
	transition: all 0.3s ease;
}
nav .app-nav .main-nav > li:not(.menu-title) ul li.another-level ul {
	position: relative;
	margin-left: 3px;
	padding-bottom: 0;
}
nav .app-nav .main-nav > li:not(.menu-title) ul li.another-level ul li a:before {
	display: none;
}
nav .app-nav .main-nav > li:not(.menu-title) ul li.another-level ul li a:after {
	content: "\f192";
	transition: all 0.3s ease;
	font-family: "Font Awesome 5 Free" !important;
	position: absolute;
	left: 4px;
	top: 12px;
	font-size: 11px;
}
nav .app-nav .menu-title {
	padding: 0.75rem 1.25rem 0.2rem !important;
	margin-bottom: 0.75rem;
}

nav .app-nav .menu-title span {
	text-transform: uppercase;
	color: #0f626a;
	font-size: 14px;
	font-weight: 500;
	border-radius: 15px;
}

nav .app-nav .menu-item {
	padding: 0.5rem 1rem;
}

/* SIDEBAR CODE END */

.card {
	box-shadow: 0 .1rem 0.5rem 0 rgba(var(--dark), .10);
	border: none;
	margin-bottom: 1.25rem;
	transition: all 0.3s ease;
	border-radius: 0.6rem;
}
.card .card-body, .card .card-header, .card .card-footer {
	padding: 1.125rem 1.5rem;
}
.app-datatable-default .dataTables_wrapper .dataTables_length {
	padding: 1rem 1.25rem;
}
.app-datatable-default .dataTables_wrapper table {
	border-top: 1px dotted rgba(40, 35, 45 0.2);
	border-bottom: 1px dotted rgba(40, 35, 45 0.2);
}
.app-datatable-default .dataTables_wrapper table thead th.sorting.sorting_asc_disabled, .app-datatable-default .dataTables_wrapper table thead th.sorting.sorting_desc_disabled, .app-datatable-default .dataTables_wrapper table thead th.sorting.sorting_asc, .app-datatable-default .dataTables_wrapper table thead th.sorting.sorting_desc {
	padding-right: 0.6rem !important;
}
.app-datatable-default .dataTables_wrapper table thead th:first-child {
	padding-left: 20px;
}
.app-datatable-default .dataTables_wrapper table thead th {
	border-bottom: 1px dashed rgba(98, 98, 98, 0.4);
	color: rgba(40, 35, 45, 1);
	font-weight: 600;
	padding: 0.5rem 0.75rem;
}
.table-responsive tr th:first-child {
	padding-left: 1.25rem;
}
.app-datatable-default .dataTables_wrapper table thead th:last-child {
	padding-right: 20px;
}
.app-datatable-default .dataTables_wrapper table.dataTable.display > tbody > tr.odd {
	background-color: rgba(200, 185, 210, 0.2);
}
.app-datatable-default .dataTables_wrapper table.dataTable.display > tbody > tr.even > .sorting_1, .app-datatable-default .dataTables_wrapper table.dataTable.display > tbody > tr.odd > * {
	box-shadow: none;
}
.app-datatable-default .dataTables_wrapper table tbody td {
	border: none;
	border-top: 1px dashed rgba(98, 98, 98, 0.4);
	color: rgba(40, 35, 45, 0.8);
	font-size: 15px;
	padding: 0.8rem 0.75rem;
}
table.dataTable tbody tr {
	background-color: transparent;
}
